EdgeLibraryMain/EdgeDemo/EdgeDemo/Service References/CheckersService/CheckersService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56219/CheckersService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:56219/CheckersService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:import schemaLocation="http://localhost:56219/CheckersService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CheckersService" />
  <xs:element name="AddMove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="movePath" nillable="true" type="q1:ArrayOfKeyValueOfintKeyValuePairOfintinttwCi8m_S7" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="jumpedSquares" nillable="true" type="q2:ArrayOfKeyValueOfintKeyValuePairOfintinttwCi8m_S7" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="startSquare" type="q3:KeyValuePairOfintint" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="topTeam" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMoveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestMoveFrom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="topTeam" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestMoveFromResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CheckersService" minOccurs="0" name="GetLatestMoveFromResult" nillable="true" type="q4:SimpleMove" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>