EdgeLibraryMain/EdgeDemo/EdgeDemo/Service References/CheckersService/CheckersService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CheckersService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CheckersService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56219/CheckersService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:56219/CheckersService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:complexType name="SimpleMove">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="JumpedSquares" nillable="true" type="q1:ArrayOfKeyValueOfintKeyValuePairOfintinttwCi8m_S7" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SquarePath" nillable="true" type="q2:ArrayOfKeyValueOfintKeyValuePairOfintinttwCi8m_S7" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="StartSquare" type="q3:KeyValuePairOfintint" />
      <xs:element minOccurs="0" name="TopTeam" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SimpleMove" nillable="true" type="tns:SimpleMove" />
  <xs:complexType name="ArrayOfGameManager">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GameManager" nillable="true" type="tns:GameManager" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGameManager" nillable="true" type="tns:ArrayOfGameManager" />
  <xs:complexType name="GameManager">
    <xs:sequence>
      <xs:element minOccurs="0" name="GameStartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HostTeamName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OtherTeamName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" type="tns:GameManager.GameState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameManager" nillable="true" type="tns:GameManager" />
  <xs:simpleType name="GameManager.GameState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="WaitingForPlayers" />
      <xs:enumeration value="InProgress" />
      <xs:enumeration value="Ended" />
      <xs:enumeration value="HostDisconnected" />
      <xs:enumeration value="PlayerDisconnected" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GameManager.GameState" nillable="true" type="tns:GameManager.GameState" />
</xs:schema>