EdgeLibraryMain/EdgeDemo/EdgeDemo/Service References/CheckersService/CheckersService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CheckersService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56221/CheckersService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56221/CheckersService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56221/CheckersService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CheckersService" />
      <xsd:import schemaLocation="http://localhost:56221/CheckersService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:56221/CheckersService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICheckersService_AddMove_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMove" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_AddMove_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMoveResponse" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_GetLatestMoveFrom_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestMoveFrom" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_GetLatestMoveFrom_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestMoveFromResponse" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_CreateGame_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGame" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_CreateGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGameResponse" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_JoinGame_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinGame" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_JoinGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinGameResponse" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_Disconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_EndGame_InputMessage">
    <wsdl:part name="parameters" element="tns:EndGame" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_EndGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:EndGameResponse" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_GetAllGames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGames" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_GetAllGames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGamesResponse" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_GetJoinableGames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJoinableGames" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_GetJoinableGames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJoinableGamesResponse" />
  </wsdl:message>
  <wsdl:portType name="ICheckersService">
    <wsdl:operation name="AddMove">
      <wsdl:input wsaw:Action="http://tempuri.org/ICheckersService/AddMove" message="tns:ICheckersService_AddMove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICheckersService/AddMoveResponse" message="tns:ICheckersService_AddMove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestMoveFrom">
      <wsdl:input wsaw:Action="http://tempuri.org/ICheckersService/GetLatestMoveFrom" message="tns:ICheckersService_GetLatestMoveFrom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICheckersService/GetLatestMoveFromResponse" message="tns:ICheckersService_GetLatestMoveFrom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateGame">
      <wsdl:input wsaw:Action="http://tempuri.org/ICheckersService/CreateGame" message="tns:ICheckersService_CreateGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICheckersService/CreateGameResponse" message="tns:ICheckersService_CreateGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinGame">
      <wsdl:input wsaw:Action="http://tempuri.org/ICheckersService/JoinGame" message="tns:ICheckersService_JoinGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICheckersService/JoinGameResponse" message="tns:ICheckersService_JoinGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/ICheckersService/Disconnect" message="tns:ICheckersService_Disconnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICheckersService/DisconnectResponse" message="tns:ICheckersService_Disconnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EndGame">
      <wsdl:input wsaw:Action="http://tempuri.org/ICheckersService/EndGame" message="tns:ICheckersService_EndGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICheckersService/EndGameResponse" message="tns:ICheckersService_EndGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllGames">
      <wsdl:input wsaw:Action="http://tempuri.org/ICheckersService/GetAllGames" message="tns:ICheckersService_GetAllGames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICheckersService/GetAllGamesResponse" message="tns:ICheckersService_GetAllGames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJoinableGames">
      <wsdl:input wsaw:Action="http://tempuri.org/ICheckersService/GetJoinableGames" message="tns:ICheckersService_GetJoinableGames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICheckersService/GetJoinableGamesResponse" message="tns:ICheckersService_GetJoinableGames_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICheckersService" type="tns:ICheckersService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddMove">
      <soap:operation soapAction="http://tempuri.org/ICheckersService/AddMove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestMoveFrom">
      <soap:operation soapAction="http://tempuri.org/ICheckersService/GetLatestMoveFrom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGame">
      <soap:operation soapAction="http://tempuri.org/ICheckersService/CreateGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinGame">
      <soap:operation soapAction="http://tempuri.org/ICheckersService/JoinGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap:operation soapAction="http://tempuri.org/ICheckersService/Disconnect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndGame">
      <soap:operation soapAction="http://tempuri.org/ICheckersService/EndGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllGames">
      <soap:operation soapAction="http://tempuri.org/ICheckersService/GetAllGames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJoinableGames">
      <soap:operation soapAction="http://tempuri.org/ICheckersService/GetJoinableGames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CheckersService">
    <wsdl:port name="BasicHttpBinding_ICheckersService" binding="tns:BasicHttpBinding_ICheckersService">
      <soap:address location="http://localhost:56221/CheckersService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>