EdgeLibraryMain/CheckersGame/CheckersGame/Service References/CheckersService/CheckersService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CheckersService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CheckersService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56219/CheckersService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:56219/CheckersService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:complexType name="SimpleMove">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="JumpedSquares" nillable="true" type="q1:ArrayOfKeyValueOfintKeyValuePairOfintinttwCi8m_S7" />
      <xs:element minOccurs="0" name="Player1" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SquarePath" nillable="true" type="q2:ArrayOfKeyValueOfintKeyValuePairOfintinttwCi8m_S7" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="StartSquare" type="q3:KeyValuePairOfintint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SimpleMove" nillable="true" type="tns:SimpleMove" />
  <xs:complexType name="ArrayOfGameState">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GameState" nillable="true" type="tns:GameState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGameState" nillable="true" type="tns:ArrayOfGameState" />
  <xs:complexType name="GameState">
    <xs:sequence>
      <xs:element minOccurs="0" name="GameInfo" type="tns:GameState.State" />
      <xs:element minOccurs="0" name="GameStartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HostTeamName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MoveList" nillable="true" type="tns:ArrayOfSimpleMove" />
      <xs:element minOccurs="0" name="OtherTeamName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameState" nillable="true" type="tns:GameState" />
  <xs:simpleType name="GameState.State">
    <xs:restriction base="xs:string">
      <xs:enumeration value="WaitingForPlayers" />
      <xs:enumeration value="InProgress" />
      <xs:enumeration value="Ended" />
      <xs:enumeration value="HostDisconnected" />
      <xs:enumeration value="PlayerDisconnected" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GameState.State" nillable="true" type="tns:GameState.State" />
  <xs:complexType name="ArrayOfSimpleMove">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SimpleMove" nillable="true" type="tns:SimpleMove" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSimpleMove" nillable="true" type="tns:ArrayOfSimpleMove" />
</xs:schema>